$Body-font: 'Open Sans', sans-serif;
$Heading-font: 'Poppins', sans-serif;
$H1-font:"CHANEWEI",Helvetica,Arial,sans-serif;
$Columna-font:"OpenSans",Helvetica,Arial,sans-serif;
$p-font:'Nunito';

/*Colores*/
$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$Gris:rgb(83, 81, 81);
$white:#fff;
$black:#000;
